
<div class="row">
    <div class="col-md-12 text-right">
        <button mat-raised-button color="primary" routerLink="adduser">Add User</button>
    </div>
    <div class="co-md-4">
        <ul class="list-group">
            <li 
            routerLinkActive="active"
            [routerLink]="[user.userId]"
            *ngFor="let user of userArr" 
            class="list-group-item d-flex justify-content-between">
                {{user.userName}}
                <small class="badge" [ngClass]="user.isActive?'badge-primary':'badge-danger'">
                    {{user.isActive?'active':'in-active'}}
                </small>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>