<div class="row">

    <div class="col-12 text-right mb-3">
        <button
        routerLinkActive="active"
            routerLink="addProduct"
            mat-raised-button
            color="primary">
            Add Product
        </button>
    </div>
    <!-- Product List -->
    <div class="col-md-4">
        <ul class="list-group">
            <li
            routerLinkActive="active"
                [routerLink]="[product.pid]"
                class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let product of productArr">
                <div class="d-flex align-items-center">
                    <img
                        [src]="product.pimg"
                        [alt]="product.pname"
                        width="60"
                        height="60"
                        class="mr-3 rounded">

                    <span>{{product.pname}}</span>
                </div>

                <small class="badge" [ngClass]="{
                    'badge-primary': product.pstatus === 'In-Progress',
                    'badge-success': product.pstatus === 'Dispatched',
                    'badge-warning': product.pstatus === 'Delivered'
                }">
                    {{ product.pstatus }}
                </small>
            </li>
        </ul>
    </div>  

    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>