<mat-card class="p-0">
    <mat-card-content>
        <div class="fair">
            <figure class="banner" [ngStyle]="{
    'background-image':
      'linear-gradient(0deg, rgba(0,0,0,0.5), transparent), url(' + fairsObj.bannerUrl + ')'
  }">
                <figcaption>
                    <h1>{{fairsObj.fairName}}</h1>
                    <div class="typeAndDate">
                        <p class="m-0">Evet Type:{{fairsObj.type}}</p>
                        <p class="m-0">Date:{{fairsObj.startDate*1000| date}}</p>
                    </div>
                </figcaption>
            </figure>
            <div class="p-4">
                <p [innerHTML]="fairsObj.candidateDescription"></p>
                <p [innerHTML]="fairsObj.schoolDescription"></p>
            </div>
        </div>

    </mat-card-content>
</mat-card>